
# Runtime dependencies
basyx-python-sdk>=2.1.0
requests>=2.34.2

# Development and tooling
pytest>=9.1.1
pytest-cov>=7.1.0
python-json-logger>=4.2.0
build>=1.6.0
pre_commit>=4.6.2
commitizen>=4.18.0
